/aopalliance-1.0.jar
/applicationContext.xml
/aspectjweaver-1.6.12.jar
/cglib-nodep-2.1_3.jar
/com/
/commons-collections4-4.1.jar
/commons-dbcp-1.4.jar
/commons-logging-1.2.jar
/commons-pool-1.6.jar
/junit-4.10.jar
/log4j.properties
/mysql-connector-java-5.1.38-bin.jar
/ojdbc6.jar
/org.springframework.aop-3.0.6.RELEASE.jar
/org.springframework.asm-3.0.6.RELEASE.jar
/org.springframework.aspects-3.0.6.RELEASE.jar
/org.springframework.beans-3.0.6.RELEASE.jar
/org.springframework.context-3.0.6.RELEASE.jar
/org.springframework.context.support-3.0.6.RELEASE.jar
/org.springframework.core-3.0.6.RELEASE.jar
/org.springframework.expression-3.0.6.RELEASE.jar
/org.springframework.instrument-3.0.6.RELEASE.jar
/org.springframework.instrument.tomcat-3.0.6.RELEASE.jar
/org.springframework.jdbc-3.0.6.RELEASE.jar
/org.springframework.jms-3.0.6.RELEASE.jar
/org.springframework.orm-3.0.6.RELEASE.jar
/org.springframework.oxm-3.0.6.RELEASE.jar
/org.springframework.spring-library-3.0.6.RELEASE.libd
/org.springframework.test-3.0.6.RELEASE.jar
/org.springframework.transaction-3.0.6.RELEASE.jar
/org.springframework.web-3.0.6.RELEASE.jar
/org.springframework.web.portlet-3.0.6.RELEASE.jar
/org.springframework.web.servlet-3.0.6.RELEASE.jar
/org.springframework.web.struts-3.0.6.RELEASE.jar
/taglibs-standard-compat-1.2.5.jar
/taglibs-standard-impl-1.2.5.jar
/taglibs-standard-jstlel-1.2.5.jar
/taglibs-standard-spec-1.2.5.jar
